.content{
  padding: 30rpx;
  margin-bottom: 50rpx;
  .box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .book{
      margin-top: 20rpx;
      margin-left: 60rpx;
      margin-right: 60rpx;
      img{
        width: 210rpx;
        height: 260rpx;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
      }
      .title{
        width: 210rpx;
        margin-top: 20rpx;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
      }
    }
  }
}
.tips{
  margin: 20rpx auto;
  font-size: 14px;
  line-height: 14px;
  color: #aaa;
  text-align: center;
}
